<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <properties>
        <property name="allowMultiQueries" value="true"/>
        <property name="autoReconnect" value="true"/>
        <property name="autoReconnectForPools" value="true"/>
        <property name="useUnicode" value="true"/>
        <property name="characterEncoding" value="utf-8"/>
    </properties>

    <settings>
        <!--开启延迟加载-->
        <setting name="lazyLoadingEnabled" value="true"/>
        <!--false为按需加载，否则为全部加载-->
        <setting name="aggressiveLazyLoading" value="false"/>
    </settings>

    <!--自定义类型转换器注册-->
    <typeHandlers>
        <typeHandler handler="com.able.re.Mybatis.TypeHandler.MyTypeHandler" jdbcType="INTEGER" javaType="java.lang.Boolean"/>
        <!--<typeHandler handler="com.able.re.Mybatis.TypeHandler.StringArray2StringHandler" jdbcType="VARCHAR" javaType="[java.lang.String"/>-->
    </typeHandlers>

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"></transactionManager>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/test"/>
                <property name="username" value="root"/>
                <property name="password" value="123456"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper resource="mapping/testMapper.xml"/>
    </mappers>

</configuration>
