<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.relyy.dao.MissionDetailMapper">

    <resultMap id="BaseResultMap" type="com.relyy.VO.MissionDetail">
        <id column="ID" jdbcType="INTEGER" property="id" />
        <result column="MISSION_ID" jdbcType="INTEGER" property="missionId" />
        <result column="USER_ID" jdbcType="INTEGER" property="userId" />
        <result column="RECRUIT_ID" jdbcType="INTEGER" property="recruitId" />
        <result column="COURSE_ID" jdbcType="INTEGER" property="courseId" />
        <result column="TYPE" jdbcType="INTEGER" property="type" />
        <result column="CHAPTER_ID" jdbcType="INTEGER" property="chapterId" />
        <result column="LESSON_ID" jdbcType="INTEGER" property="lessonId" />
        <result column="LESSON_VIDEO_ID" jdbcType="INTEGER" property="lessonVideoId" />
        <result column="EXAM_ID" jdbcType="INTEGER" property="examId" />
        <result column="STUDENT_EXAM_ID" jdbcType="INTEGER" property="studentExamId" />
        <result column="WATCH_TIME" jdbcType="INTEGER" property="watchTime" />
        <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
        <result column="IS_DELETED" jdbcType="INTEGER" property="isDeleted" />
        <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
        <result column="ORDER_NUM" jdbcType="INTEGER" property="orderNum" />
    </resultMap>

    <sql id="Base_Column_List">
        ID, MISSION_ID, USER_ID, RECRUIT_ID, COURSE_ID, TYPE, CHAPTER_ID, LESSON_ID, LESSON_VIDEO_ID,
        EXAM_ID, STUDENT_EXAM_ID, WATCH_TIME, CREATE_TIME, IS_DELETED, UPDATE_TIME, ORDER_NUM
    </sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from TBL_MISSION_DETAIL
        where USER_ID = #{userId} and ID = #{id,jdbcType=INTEGER}
    </select>

    <insert id="insertSelective" parameterType="com.relyy.VO.MissionDetail">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into TBL_MISSION_DETAIL
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="missionId != null">
                MISSION_ID,
            </if>
            <if test="userId != null">
                USER_ID,
            </if>
            <if test="recruitId != null">
                RECRUIT_ID,
            </if>
            <if test="courseId != null">
                COURSE_ID,
            </if>
            <if test="type != null">
                TYPE,
            </if>
            <if test="chapterId != null">
                CHAPTER_ID,
            </if>
            <if test="lessonId != null">
                LESSON_ID,
            </if>
            <if test="lessonVideoId != null">
                LESSON_VIDEO_ID,
            </if>
            <if test="examId != null">
                EXAM_ID,
            </if>
            <if test="studentExamId != null">
                STUDENT_EXAM_ID,
            </if>
            <if test="orderNum != null">
                ORDER_NUM,
            </if>
            <if test="watchTime != null">
                WATCH_TIME,
            </if>
            CREATE_TIME,
            <if test="isDeleted != null">
                IS_DELETED,
            </if>
            <if test="updateTime != null">
                UPDATE_TIME,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="missionId != null">
                #{missionId,jdbcType=INTEGER},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=INTEGER},
            </if>
            <if test="recruitId != null">
                #{recruitId,jdbcType=INTEGER},
            </if>
            <if test="courseId != null">
                #{courseId,jdbcType=INTEGER},
            </if>
            <if test="type != null">
                #{type,jdbcType=INTEGER},
            </if>
            <if test="chapterId != null">
                #{chapterId,jdbcType=INTEGER},
            </if>
            <if test="lessonId != null">
                #{lessonId,jdbcType=INTEGER},
            </if>
            <if test="lessonVideoId != null">
                #{lessonVideoId,jdbcType=INTEGER},
            </if>
            <if test="examId != null">
                #{examId,jdbcType=INTEGER},
            </if>
            <if test="studentExamId != null">
                #{studentExamId,jdbcType=INTEGER},
            </if>
            <if test="orderNum != null">
                #{orderNum,jdbcType=INTEGER},
            </if>
            <if test="watchTime != null">
                #{watchTime,jdbcType=INTEGER},
            </if>
            NOW(),
            <if test="isDeleted != null">
                #{isDeleted,jdbcType=INTEGER},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.relyy.VO.MissionDetail">
        update TBL_MISSION_DETAIL
        <set>
            <if test="missionId != null">
                MISSION_ID = #{missionId,jdbcType=INTEGER},
            </if>
            <if test="recruitId != null">
                RECRUIT_ID = #{recruitId,jdbcType=INTEGER},
            </if>
            <if test="courseId != null">
                COURSE_ID = #{courseId,jdbcType=INTEGER},
            </if>
            <if test="type != null">
                TYPE = #{type,jdbcType=INTEGER},
            </if>
            <if test="chapterId != null">
                CHAPTER_ID = #{chapterId,jdbcType=INTEGER},
            </if>
            <if test="lessonId != null">
                LESSON_ID = #{lessonId,jdbcType=INTEGER},
            </if>
            <if test="lessonVideoId != null">
                LESSON_VIDEO_ID = #{lessonVideoId,jdbcType=INTEGER},
            </if>
            <if test="examId != null">
                EXAM_ID = #{examId,jdbcType=INTEGER},
            </if>
            <if test="studentExamId != null">
                STUDENT_EXAM_ID = #{studentExamId,jdbcType=INTEGER},
            </if>
            <if test="orderNum != null">
                ORDER_NUM = #{orderNum,jdbcType=INTEGER},
            </if>
            <if test="watchTime != null">
                WATCH_TIME = #{watchTime,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="isDeleted != null">
                IS_DELETED = #{isDeleted,jdbcType=INTEGER},
            </if>
            UPDATE_TIME = NOW(),
        </set>
        where USER_ID = #{userId} AND ID = #{id,jdbcType=INTEGER}
    </update>

    <insert id="batchSave" parameterType="java.util.List" keyProperty="id" useGeneratedKeys="true">
        insert into TBL_MISSION_DETAIL
        (MISSION_ID,USER_ID,RECRUIT_ID,COURSE_ID,TYPE,CHAPTER_ID,LESSON_ID,LESSON_VIDEO_ID,EXAM_ID,STUDENT_EXAM_ID,CREATE_TIME,ORDER_NUM)
        values
        <foreach collection="list" item="missionDetail" separator=",">
            (
            #{missionDetail.missionId},#{missionDetail.userId},#{missionDetail.recruitId},#{missionDetail.courseId}
            ,#{missionDetail.type},#{missionDetail.chapterId},#{missionDetail.lessonId},#{missionDetail.lessonVideoId}
            ,#{missionDetail.examId},#{missionDetail.studentExamId},NOW(),#{missionDetail.orderNum}
            )
        </foreach>
    </insert>

    <update id="batchDelete">
        update TBL_MISSION_DETAIL set IS_DELETED = 1 , UPDATE_TIME = NOW() where ID in
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
        and USER_ID = #{userId}
    </update>

    <select id="getMaxId" resultType="integer">
        SELECT MAX(ID) FROM TBL_MISSION_DETAIL
    </select>

    <select id="getIdList" resultType="integer">
        SELECT ID FROM TBL_MISSION_DETAIL WHERE IS_DELETED = 0 limit #{start},#{count}
    </select>

    <select id="getMissionTotalTime" resultType="integer">
        SELECT SUM(WATCH_TIME) FROM TBL_MISSION_DETAIL WHERE MISSION_ID = #{missionId} AND IS_DELETED = 0;
    </select>

    <select id="getMissionDetailIdsByMissionId" resultType="com.relyy.VO.MissionDetail">
        SELECT ID, ORDER_NUM FROM TBL_MISSION_DETAIL WHERE USER_ID = #{userId} AND MISSION_ID = #{missionId} AND IS_DELETED = 0
    </select>

    <select id="getRepairData" resultType="com.relyy.VO.MissionDetail">
        SELECT DISTINCT USER_ID, RECRUIT_ID, COURSE_ID FROM TBL_MISSION_DETAIL
        WHERE TYPE = 2 AND EXAM_ID is not null and STUDENT_EXAM_ID is NULL AND IS_DELETED = 0
    </select>

    <update id="batchUpdateStuExamIdByExamId" parameterType="java.util.List">
        <foreach collection="list" item="missionDetail" separator=";">
          update TBL_MISSION_DETAIL
            <set>
                <if test="studentExamId != null">
                    STUDENT_EXAM_ID = #{missionDetail.studentExamId,jdbcType=INTEGER},
                </if>
                UPDATE_TIME = NOW()
            </set>
          where EXAM_ID = #{missionDetail.examId,jdbcType=INTEGER}
        </foreach>
    </update>
</mapper>
