<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.relyy.dao.TestMapper">
    <resultMap id="baseResutMap" type="com.relyy.VO.UserVO">
        <id column="ID" property="id"  javaType="Integer"/>
        <result column="USER_NAME" property="name"  javaType="java.lang.String"/>
        <result column="CREATE_TIME" property="createTime"  javaType="java.util.Date"/>
    </resultMap>

    <select id="selectById" resultMap="baseResutMap" parameterType="Integer">
        SELECT * FROM TB_USER WHERE id =#{id}
    </select>

</mapper>
