<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans" xmlns:context="http://www.springframework.org/schema/context"
       xmlns:rabbit="http://www.springframework.org/schema/rabbit"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context.xsd
                           http://www.springframework.org/schema/rabbit
                           http://www.springframework.org/schema/rabbit/spring-rabbit-1.0.xsd">
    <!-- json转换器 -->
    <bean id="jsonMessageConverter" class="org.springframework.amqp.support.converter.Jackson2JsonMessageConverter"/>

    <!-- rabbitMQ配置 -->
    <!-- 连接配置 -->
    <rabbit:connection-factory id="connectionFactory"
                               host="127.0.0.1" port="5672" username="admin"
                               password="admin"/>

    <!--通过指定下面的admin信息，当前producer中的exchange和queues会在rabbitmq服务器中自动生成-->
    <rabbit:admin connection-factory="connectionFactory" />
    <!--<rabbit:template id="amqpTemplate" connection-factory="connectionFactory"/>-->

    <!--设置作业截止时间-->
    <rabbit:queue name="onlineExam_setTime_queue" durable="true" auto-delete="false"/>
    <rabbit:direct-exchange name="onlineExam-setTime-exchange" durable="true" auto-delete="false">
        <rabbit:bindings>
            <rabbit:binding queue="onlineExam_setTime_queue" key="onlineExam_setTime_key"/>
        </rabbit:bindings>
    </rabbit:direct-exchange>

    <rabbit:template id="setTimeAmqpTemplate" connection-factory="connectionFactory" exchange="onlineExam-setTime-exchange" />

    <!--<bean id="setTimeJMSReceiver" class="com.able.onlineExam.jmsReceiver.setTime.SetTimeJMSReceiver" />-->
    <!--<rabbit:listener-container connection-factory="connectionFactory">-->
        <!--<rabbit:listener queues="onlineExam_setTime_queue" ref="setTimeJMSReceiver"/>-->
    <!--</rabbit:listener-container>-->

    <!--&lt;!&ndash;分配补考卷：学生维度分配补考&ndash;&gt;-->
    <rabbit:queue name="makeUpExamForUser_queue" durable="true" auto-delete="false" exclusive="false"/>
    <rabbit:direct-exchange name="onlineExam-makeUpExamForUser-exchange" id="onlineExam-makeUpExamForUser-exchange"
                            durable="true" auto-delete="false">
        <rabbit:bindings>
            <rabbit:binding queue="makeUpExamForUser_queue" key="onlineExam_makeUpExamForUser_key"/>
        </rabbit:bindings>
    </rabbit:direct-exchange>

    <rabbit:template id="assignationMakeUpExamForUserAmqpTemplate" connection-factory="connectionFactory" exchange="onlineExam-makeUpExamForUser-exchange" />

    <!--&lt;!&ndash;分配补考卷：学生维度分配补考和正常考试卷&ndash;&gt;-->
    <rabbit:queue name="exam_makeUpExamForUser_queue" durable="true" auto-delete="false" exclusive="false"/>
    <rabbit:direct-exchange name="onlineExam_exam_makeUpExamForUser-exchange" id="onlineExam_exam_makeUpExamForUser-exchange"
                            durable="true" auto-delete="false">
        <rabbit:bindings>
            <rabbit:binding queue="exam_makeUpExamForUser_queue" key="onlineExam_exam_makeUpExamForUser_key"/>
        </rabbit:bindings>
    </rabbit:direct-exchange>

    <rabbit:template id="assignationExamMakeUpExamForUserAmqpTemplate" connection-factory="connectionFactory" exchange="onlineExam_exam_makeUpExamForUser-exchange" />

    <bean id="assignationMakeUpExamForUser" class="com.relyy.rabbitMqReciever.AssignationMakeUpExamForUserComsumer" />
    <rabbit:listener-container connection-factory="connectionFactory">
     <rabbit:listener queues="makeUpExamForUser_queue" method="onMessage" ref="assignationMakeUpExamForUser"/>
    </rabbit:listener-container>

    <!--考试异步提交-->
    <rabbit:queue name="onlineExam_exam_submit_queue" durable="true" auto-delete="false"/>
    <rabbit:direct-exchange name="onlineExam_exam_submit_exchange" durable="true" auto-delete="false">
        <rabbit:bindings>
            <rabbit:binding queue="onlineExam_exam_submit_queue" key="onlineExam_exam_submit_key"/>
        </rabbit:bindings>
    </rabbit:direct-exchange>

    <rabbit:template id="asyncSubmitStudentExamAmqpTemplate" connection-factory="connectionFactory" exchange="onlineExam_exam_submit_exchange" />

    <!--<bean id="asyncSubmitStudentExamJMSReceiver" class="com.able.onlineExam.jmsReceiver.studentExam.AsyncSubmitStudentExamJmsReceiver" />-->
    <!--<rabbit:listener-container connection-factory="connectionFactory">-->
        <!--<rabbit:listener queues="onlineExam.asyncSubmitStudentExam" method="asyncSubmitStudentExam" ref="asyncSubmitStudentExamJMSReceiver"/>-->
    <!--</rabbit:listener-container>-->

    <!--作弊提交考试学生记录异常表单-->
    <rabbit:queue name="onlineExam_doExam_record_queue" durable="true" auto-delete="false"/>
    <rabbit:direct-exchange name="onlineExam_doExam_record_exchange" durable="true" auto-delete="false">
        <rabbit:bindings>
            <rabbit:binding queue="onlineExam_doExam_record_queue" key="onlineExam_doExam_record_key"/>
        </rabbit:bindings>
    </rabbit:direct-exchange>

    <rabbit:template id="doStudentExamRecordAmqpTemplate" connection-factory="connectionFactory" exchange="onlineExam_doExam_record_exchange" />

    <!--<bean id="doStudentExamRecordJMSReceiver" class="com.able.onlineExam.jmsReceiver.doStudentExamRecord.DoStudentExamRecord" />-->

    <!--<rabbit:listener-container connection-factory="connectionFactory">-->
        <!--<rabbit:listener queues="onlineExam.doStudentExamRecord" method="doStudentExamRecord" ref="doStudentExamRecordJMSReceiver"/>-->
    <!--</rabbit:listener-container>-->

    <!--改题目给学生加分-->

    <!--修复studentExam状态不对（已有定时器处理）-->
    <rabbit:queue name="onlineExam.checkStuExamState" durable="true" auto-delete="false"/>

    <!--修复studentExam状态和分数不对（已有定时器处理）-->
    <rabbit:queue name="onlineExam.checkStuExamStateAndScore" durable="true" auto-delete="false"/>

    <!--为学生分配作业、章测试（不知道是否再用)-->
    <rabbit:queue name="onlineExam.assignationChapterExamForUser" durable="true" auto-delete="false"/>

    <!--提交作业考试异常jms监控-->
    <rabbit:queue name="onlineExam.submitExamMonitor" durable="true" auto-delete="false"/>
    <rabbit:direct-exchange name="onlineExam-submitExamMonitor-exchange" durable="true" auto-delete="false">
        <rabbit:bindings>
            <rabbit:binding queue="onlineExam.submitExamMonitor" key="onlineExam-submitExamMonitor-key"/>
        </rabbit:bindings>
    </rabbit:direct-exchange>

    <rabbit:template id="submitExamMonitorAmqpTemplate" connection-factory="connectionFactory" exchange="onlineExam-submitExamMonitor-exchange" />

    <!--报道入班jms监控-->
    <rabbit:queue name="onlineExam.stuRegisterMonitor" durable="true" auto-delete="false"/>
    <rabbit:direct-exchange name="onlineExam-stuRegisterMonitor-exchange" durable="true" auto-delete="false">
        <rabbit:bindings>
            <rabbit:binding queue="onlineExam.stuRegisterMonitor" key="onlineExam-stuRegisterMonitor-key"/>
        </rabbit:bindings>
    </rabbit:direct-exchange>

    <rabbit:template id="stuRegisterMonitorAmqpTemplate" connection-factory="connectionFactory" exchange="onlineExam-stuRegisterMonitor-exchange" />

    <!--更新stuExam异常jms监控-->
    <rabbit:queue name="onlineExam.saveOrUpdateStuExamMonitor" durable="true" auto-delete="false"/>
    <rabbit:direct-exchange name="onlineExam-saveOrUpdateStuExamMonitor-exchange" durable="true" auto-delete="false">
        <rabbit:bindings>
            <rabbit:binding queue="onlineExam.saveOrUpdateStuExamMonitor" key="onlineExam-saveOrUpdateStuExamMonitor-key"/>
        </rabbit:bindings>
    </rabbit:direct-exchange>

    <rabbit:template id="saveOrUpdateStuExamMonitorAmqpTemplate" connection-factory="connectionFactory" exchange="onlineExam-saveOrUpdateStuExamMonitor-exchange" />

    <!--作业分数变化jms通知onlineScore-->
    <rabbit:queue name="onlineExam.updateWorkScore" durable="true" auto-delete="false"/>
    <rabbit:direct-exchange name="onlineExam-updateWorkScore-exchange" durable="true" auto-delete="false">
        <rabbit:bindings>
            <rabbit:binding queue="onlineExam.updateWorkScore" key="onlineExam-updateWorkScore-key"/>
        </rabbit:bindings>
    </rabbit:direct-exchange>

    <rabbit:template id="updateWorkScoreAmqpTemplate" connection-factory="connectionFactory" exchange="onlineExam-updateWorkScore-exchange" />
    <!--考试分数变化jms通知onlineScore-->
    <rabbit:queue name="onlineExam.updateExamScore" durable="true" auto-delete="false"/>
    <rabbit:direct-exchange name="onlineExam-updateExamScore-exchange" durable="true" auto-delete="false">
        <rabbit:bindings>
            <rabbit:binding queue="onlineExam.updateExamScore" key="onlineExam-updateExamScore-key"/>
        </rabbit:bindings>
    </rabbit:direct-exchange>

    <rabbit:template id="updateExamScoreAmqpTemplate" connection-factory="connectionFactory" exchange="onlineExam-updateExamScore-exchange" />
    <!--微课程考试或者补考变化jms通知onlineSchool-->
    <rabbit:queue name="onlineExam.updateMicroCourseExamScore" durable="true" auto-delete="false"/>
    <rabbit:direct-exchange name="onlineExam-updateMicroCourseExamScore-exchange" durable="true" auto-delete="false">
        <rabbit:bindings>
            <rabbit:binding queue="onlineExam.updateMicroCourseExamScore" key="onlineExam-updateMicroCourseExamScore-key"/>
        </rabbit:bindings>
    </rabbit:direct-exchange>

    <rabbit:template id="updateMicroCourseExamScoreAmqpTemplate" connection-factory="connectionFactory" exchange="onlineExam-updateMicroCourseExamScore-exchange" />

    <!--jms通知myuni设置自定义失败的学校-->
    <rabbit:queue name="onlineExam.updateStudentCourseTimeError" durable="true" auto-delete="false"/>
    <rabbit:direct-exchange name="onlineExam-updateStudentCourseTimeError-exchange" durable="true" auto-delete="false">
        <rabbit:bindings>
            <rabbit:binding queue="onlineExam.updateStudentCourseTimeError" key="onlineExam-updateStudentCourseTimeError-key"/>
        </rabbit:bindings>
    </rabbit:direct-exchange>

    <rabbit:template id="updateStudentCourseTimeErrorAmqpTemplate" connection-factory="connectionFactory" exchange="onlineExam-updateStudentCourseTimeError-exchange" />
    <!--已提交未批阅StudentExam发送Jms更新MongoDB-->
    <rabbit:queue name="onlineExam.noConsultInfo" durable="true" auto-delete="false"/>
    <rabbit:direct-exchange name="onlineExam-noConsultInfo-exchange" durable="true" auto-delete="false">
        <rabbit:bindings>
            <rabbit:binding queue="onlineExam.noConsultInfo" key="onlineExam-noConsultInfo-key"/>
        </rabbit:bindings>
    </rabbit:direct-exchange>

    <rabbit:template id="noConsultInfoAmqpTemplate" connection-factory="connectionFactory" exchange="onlineExam-noConsultInfo-exchange" />
    <!--退课退班换班，更新学生作业考试，发送jms更新MongoDB-->
    <rabbit:queue name="onlineExam.studentSubmitInfo" durable="true" auto-delete="false"/>
    <rabbit:direct-exchange name="onlineExam-studentSubmitInfo-exchange" durable="true" auto-delete="false">
        <rabbit:bindings>
            <rabbit:binding queue="onlineExam.studentSubmitInfo" key="onlineExam-studentSubmitInfo-key"/>
        </rabbit:bindings>
    </rabbit:direct-exchange>

    <rabbit:template id="studentSubmitInfoAmqpTemplate" connection-factory="connectionFactory" exchange="onlineExam-studentSubmitInfo-exchange" />
    <!--更新成绩管理补考成绩jms操作（成绩管理独立jms）-->
    <rabbit:queue name="onlineExam.updateMakeupScore" durable="true" auto-delete="false"/>
    <rabbit:direct-exchange name="onlineExam-updateMakeupScore-exchange" durable="true" auto-delete="false">
        <rabbit:bindings>
            <rabbit:binding queue="onlineExam.updateMakeupScore" key="onlineExam-updateMakeupScore-key"/>
        </rabbit:bindings>
    </rabbit:direct-exchange>

    <rabbit:template id="updateMakeupScoreAmqpTemplate" connection-factory="connectionFactory" exchange="onlineExam-updateMakeupScore-exchange" />

    <rabbit:queue id="queue_exam_clean" name="queue_exam_clean" durable="true"
                  auto-delete="false" exclusive="false"/>

    <!-- exchange queue binging key 绑定 -->
    <rabbit:direct-exchange id="cheat-exam-clean-exchange"
                            name="cheat-exam-clean-exchange" durable="true" auto-delete="false">
        <rabbit:bindings>
            <rabbit:binding queue="queue_exam_clean" key="QUEUE_EXAM_CLEAN"/>
        </rabbit:bindings>
    </rabbit:direct-exchange>

    <!-- spring template声明 -->
    <rabbit:template id="rmqTemplate" exchange="cheat-exam-clean-exchange"
                     connection-factory="connectionFactory"/>
</beans>
